@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,400,300italic,300,600,600italic);

$primary-color: hsl(195, 31%, 5%);
$secondary-color: hsl(203, 32%, 14%);
$tertiary-color: hsl(201, 30%, 30%);
$quaternary-color: hsl(194, 22%, 42%);
$quinary-color: hsl(190, 18%, 55%);
$senary-color: hsl(192, 23%, 71%);

// Color Theme Inspiration 
// http://www.colourlovers.com/palette/580974/Adrift_in_Dreams
/*$primary-color: hsl(202, 81%, 23%);*/
/*$secondary-color: hsl(180, 39%, 38%);*/
/*$tertiary-color: hsl(149, 34%, 61%);*/
/*$fourth-color: hsl(120, 41%, 76%);*/
/*$fifth-color: hsl(84, 73%, 78%);*/

$colors: (
    'primary': $primary-color,
    'secondary': $secondary-color,
    'tertiary': $tertiary-color,
    'quaternary': $quaternary-color,
    'quinary': $quinary-color,
    'senary': $senary-color
);

@include global-box-sizing(border-box); 

$base-font-type: 'Source Sans Pro', sans-serif;
$base-font-size: 18px;

html {
    font-family: $base-font-type;
    font-size: $base-font-size;
    color: map-get($colors, senary);
    background-color: map-get($colors, primary);
    line-height: 1.4;
}

a {
    color: map-get($colors, senary);
} 
