.date {
    font-size: 0.70em;
    color: lighten(map-get($colors, tertiary), 20%);
}

.tag {
    color: white;
    background-color: map-get($colors, primary);
    font-size: 0.70em;
    border-radius: 10px;
    padding: 4px;
    text-decoration: none;
}

.post {
    .title a {
        color: map-get($colors, secondary);
        text-decoration: none;
    }

    .description {
        
    }
}

.sidebar {
    background-color: map-get($colors, tertiary);
    color: white;
    
    a {
        color: white;
    }
}

