{{ $baseurl := .Site.BaseUrl }}
<!DOCTYPE html>
<html lang="en-us">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <div class="app">
            <section class="sidebar">
                {{ partial "sidebar.html" . }}
            </section>
            <main class="main-content single">
                <section class="post">
                    <h1>{{ .Title }}</h1>
                    <span class="post-date">{{ .Date.Format "January 2, 2006" }}</span>
                    <ul class="tags">
                        {{ range .Params.tags }}
                        <li>
                        <a href="{{ $baseurl }}/tags/{{ . | urlize }}" class="button-small pure-button">{{ . }}</a>
                        </li>
                        {{ end }}
                    </ul>
                    <div class="content">
                    {{ .Content }}
                    </div>
                </section>
            </main>
        </div>
    </body>
</html>
