<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title> {{ .Title }} &middot; {{ .Site.Title }} </title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
        <!--<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/main.css">
    </head>
    <body>
        <div class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-4">
                <div class="header">
                    <h1>Arvinsim's Dev Blog</h1>
                    <h2>Thoughts, tips and more</h2>
                </div>
            </div>
            <div class="main-content pure-u-1 pure-u-md-3-4">
                <div class="posts">
                    {{ range .Data.Pages }}
                    <section class="post">
                        <h1>
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </h1>
                        <span class="post-date">January 22, 2015</span>
                        <ul class="tags">
                            <li><a href="#" class="buttom-small pure-button">tags</a></li>
                            <li><a href="#" class="buttom-small pure-button">go</a></li>
                            <li><a href="#" class="buttom-small pure-button">here</a></li>
                        </ul>
                        {{ .Content }}
                    </section>
                    {{ end }}
                </div>
            </div>
        </div>
    </body>
</html>
