/** Colors **/
@dark-green: #003613;
@white: #FFFFFF;

/** Mixin **/
.unlink {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/** Pure CSS overrides **/
.button-small {
    font-size: 0.75em;
}


/** *Main */

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: @white;
    color: @dark-green;

    pre {
        margin: 2em 2em;

        code {
            font-family: monospace;
            color: @white;
            background-color: @dark-green;
            box-sizing: padding-box;
            padding: 2em 2em;
            border-radius: 3px; 
        }
    }
}

.sidebar {
    background-color: @dark-green;
    color: @white;
    position: fixed;
    top: 0px;
    bottom: 0px;

    .header {
        margin: 80% 2em 0px;
        text-align: right;

        .site-logo {
            font-size: 2em;
        }

        .site-title a {
            font-size: 2em;
            text-decoration: none;
            color: inherit;
        }

        .site-subtitle {
            color: @dark-green + #333; 
        }
    }
}

.main-content {
    padding: 2em 3em 0px;
    margin-left: 25%;

    &.homepage, &.taxonomy {
        .post {
            padding: 2em 0em 0px;

            .title {
                .unlink;
                font-size: 1.5em;

                .select-indicator {
                    visibility: hidden;
                }

                a {
                    .unlink;
                }
            }

            .title:hover .select-indicator {
                visibility: visible;
            }

            .post-date {
                font-size: 0.6em;
            }
            
            .tag {
                font-size: 0.6em;
            }

            .description {
                font-size: 0.6em;
                padding: 1em 0em 0px;
            }
        }
    }

    .post {
        h1 a {
            .unlink;
        }

        .post-date {
            font-style: italic;
        }

        .tags {
            display: inline;
            list-style-type: none;

            li {
                display: inline;
            }
        }
    }
} 
